<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <configSections>
    <sectionGroup name="spring">
      <!--提供Spring對應用程式上下文的支援-->
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <!--提供Spring對 物件容器的支援-->
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <spring>
 <!--
    <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
    <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
    <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
 -->
    <context>
      <!--Spring中 IOC容器 所使用的物件XML檔案定義-->
      <!-- <resource uri="assembly://CnblogLesson_3_2/CnblogLesson_3_2.Config/Objects.xml"/>  -->
      <resource uri="assembly://BusinessLogicLayer/BusinessLogicLayer.SpringConfig/objects.xml" />
      <resource uri="assembly://DataAccessLayer/DataAccessLayer.SpringConfig/OraObjects.xml" />
    </context>
  </spring>
</configuration>