@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="button" id="calltestapi" value="呼叫Post方法api" />

    <input type="button" id="calltestapi2" value="呼叫Get方法api2" />
</div>


<script type="text/javascript">
    $("#calltestapi").click(function () {

        $.ajax({
            type: 'POST',
            contentType: 'application/json',
            url: 'http://localhost:2233/test/TestAPI',
            data: JSON.stringify({ss: "input"}),
            success: function (msg) {

                alert("success");

            },
            error: function (request, status, error) {

                alert(error);
            }
        });

    });

    $("#calltestapi2").click(function () {

        $.ajax({
            type: 'GET',
            contentType: 'application/json',
            url: 'http://localhost:2233/test/TestAPI2',
            success: function (msg) {

                alert("success");

            },
            error: function (request, status, error) {

                alert(error);
            }
        });

    });
</script>