@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <input type="button" id="calltestapi" value="呼叫Post方法api" />

    <input type="button" id="calltestapi2" value="呼叫Get方法api2" />
</div>


<script type="text/javascript">
    $("#calltestapi").click(function () {

        $.ajax({
            type: 'POST',
            url: 'http://220.135.33.129:2233/test/TestAPI',
            // contentType: "application/json", 此行會導致 …Response to preflight request doesn't pass access control check…
            //dataType: 'json', 此行若回傳值非json會導致SyntaxError: Unexpected token s in JSON at position 0
            data: JSON.stringify({str: "input"}),
            async: true,
            success: function (data) {

                alert(data);

            },
            error: function (request, status, error) {

                alert(error);
            }
        });

    });

    $("#calltestapi2").click(function () {

        $.ajax({
            type: 'GET',
            url: 'http://220.135.33.129:2233/test/TestAPI2',
            async: true,
            success: function (data) {

                alert(data);

            },
            error: function (request, status, error) {

                alert(error);
            }
        });

    });
</script>